body {
  margin: 0px;
}
#paper {
  width: 100%;
  height: 100%;
  background: #f0f0ff;
}
p {
  margin: 0px;
}
#select {
  background: #5cadd6;
}
#typing,
#popup {
  min-width: 100px;
  position: absolute;
  display: inline-block;
  white-space: nowrap;
}
#typing {
  height: 18px;
  background: #a3daf5;
}
#popup {
  max-height: 300px;
  min-height: 18px;
  overflow-y: auto;
  background: #f5a3a3;
}
